// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

// A lot of the default color variables defined by default in Quire are already
// defined in the bulma libraries, and SASS throws errors when redefining them.
// This is a side-effect of @import being replaced by @use and @forward.
// When we use @forward to include these libraries (necessary now), it produces
// errors when variables are redefined. This may necessitate a pretty significant
// refactor of Quire styles.

$black: #000000 !default;
$off-black: #202020;
$gray: #CCCCCC;
$white: #ffffff;
$off-white: #EEF2F3;
$red: #CF4747;
$blue: #6A8EB8;
$light-yellow: #F9F9A3;
$off-black-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);
$rich-black: cmyk(50%, 50%, 50%, 100%);

// Usable color variables.
$text-black: $off-black;
$main-blue: rgb(58, 118, 127); // #3a767f
$main-coral: rgb(224, 107, 64); // #e06b40
$secondary-coral: #a53e18;
$main-lilac: #C398BC;
$main-lavender: #d3dbee;
$secondary-blue: #006a7a;


