// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Notes are included with fonts on sizing.
// -----------------------------------------------------------------------------

// Utility font-file path function definition. Leave this alone.
$assets-dir: "/_assets/" !default;

@function font($file) {
  @return url($assets-dir + 'fonts/' + $file);
}
// end Utility

// ----------------------------------------------------------------------------
// Afacad Variable [weight]
// https://github.com/Dicotype/Afacad/tree/main
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// font-size          18px          20px      24px
//        ch     9.38334px    10.41667px    12.5px
//        ex         7.5px     8.33334px      10px
//
// ch is slightly over half height so it's useful.
// ex is less useful but better than most fonts.
//
// Readable columns: 70–80ch, 36–42em. Kinda narrow with wider caps
// 1.4 is a good starting point for line-height at display sizes.
// 1.5 is good for body (but not really a body typeface)
// ============================================================================
// Afacad
@font-face {
  font-family: AfacadVariable;
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: font("afacad/Afacad.woff2") format("woff2");
}
// TODO: Evaluate getting rid of italics for Afacad
@font-face {
  font-family: AfacadVariable;
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  src: font("afacad/Afacad-Italic.woff2") format("woff2");
}

// -----------------------------------------------------------------------------
// Besley Variable [weight, width]
// https://github.com/indestructible-type/Besley
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// font-size         16px           18px       20px
//        ch    9.43334px     10.61666px     11.8px
//        ex    8.31666px      9.36666px     10.4px
//
// Very tall typeface. Occupies most of line-height. Necessitates higher
// than normal line-height setting (2 is a good start).
//
// Readable at 71–80ch, 42–48em
// ============================================================================
// Besley
@font-face {
  font-family: BesleyVariable;
  font-display: swap;
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 400 900;
  src: font("besley/Besley.woff2") format("woff2");
}
@font-face {
  font-family: BesleyVariable;
  font-display: swap;
  font-stretch: 75% 100%;
  font-style: italic;
  font-weight: 400 900;
  src: font("besley/Besley-Italic.woff2") format("woff2");
}

// -----------------------------------------------------------------------------
// Sofia Condensed Variable [weight]
// https://github.com/lettersoup/Sofia-Sans
// Open Font License 1.1 (https://scripts.sil.org/OFL)
//
// font-size         16px         18px         20px     
//        ch    7.13334px    8.03334px    8.91666px 
//        ex        7.8px    8.76666px    9.73334px
//
// ex is larger than ch so… okay. Condensed, I guess.
//
// Readable is 66–72ch, 29–32em. Condensed makes a big difference in legibility
// 1.5 is a really nice line-height
// ============================================================================
// Sofia Condensed
@font-face {
  font-family: SofiaSansCondVariable;
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  src: font("sofia/SofiaSansCondensed.woff2") format("woff2");
}
@font-face {
  font-family: SofiaSansCondVariable;
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  src: font("sofia/SofiaSansCondensed-Italic.woff2") format("woff2");
}
